
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    background-color:rgb(251, 255, 251)
}

p {
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.breadcrumb {
    margin-bottom: 0;
    background-color:rgb(248, 248, 248);
    font-size: 20px;
}
@media (max-width: 600px) {
    .breadcrumb {
        font-size: 16px;
    }
}


.bca{
    border-top: none !important;
}

.bca:hover {
    color: #edcd1f;
  }

.navbar {
    padding: 22px 10px;
    background: #fff;
    border: none;
    border-radius: 0px;
    margin-bottom: 40px;
    background-color: #032e12;
    box-shadow: 10px 2px 16px rgba(0,0,0,0.8);
}

.nav ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.btn-grey{
    font-size: 2rem;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.ml-auto, .mx-auto {
    margin-right: 0!important;
}

.navbar-a:hover {
    color: yellow !important;
    background-color: unset !important;
  }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: #068306;
    color: #fff;
    transition: all 0.3s;
    min-height: 100vh;
    max-height:min-content;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
    color: #e3e318;
}

#sidebar.active .sidebar-header .title,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    color: #fff;
    border: none;
}
#sidebar.active i {
    margin-right: 0;
    display: block;
    font-size: 2em;
    margin-bottom: 5px;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}


#sidebar.active ul li a {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}



#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .hide-word{
    display:  none;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 18px;
    background: #184413;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 2px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #2e642f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 60px !important;
    background: #244c1c;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.btn-info {
    color: #fff;
    background-color: #43852d;
    border-color: #0f800d;
    font-size: 1rem;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1000px) {
    #sidebar {
        min-width: 200px;
        max-width: 200px;
        text-align: center;
        margin-left: -200px !important;
    }
    #sidebar.active .hide-word{
        display:  block;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header .title,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebar li .title-word{
        font-size: 0.4em;
    }
    .navbar {
        padding: 22px 10px;
    }
}

/*BACK TO TOP*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(18, 161, 61);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    animation: fadeInRight 0.8s ease-in-out;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  /*=========================================== buttons =======================================*/

.header-letter{
    font-size: 18px;
    font-weight: bold;
    color:#fff; 
    border-top: none;
  }
.header-letter:hover {
    color: yellow;
  }


  /* ======================================= SPINNER =========================================== */

  .lds-hourglass {
    width: 40px;
    height: 40px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin-left: -20px;
    box-sizing: border-box;
    border: 32px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }